n8n_workflow_gmail_notion.json
{
  "name": "Planity Gmail → Notion Planning RDV",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {
          "sender": "noreply@planity.com",
          "readStatus": "unread"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "",
          "downloadAttachments": false
        }
      },
      "id": "node-gmail-trigger-001",
      "name": "Gmail – Nouveaux emails Planity",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CRED_ID", "name": "Gmail claser.hcm" }
      }
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────────────────\n// PARSER EMAIL PLANITY → champs structurés\n// ────────────────────────────────────────────────────────\n\nconst email = $json;\nconst subject = email.subject || '';\nconst rawHtml  = email.html  || email.snippet || '';\n\n// 1. Décoder quoted-printable\nfunction decodeQP(s) {\n  return s\n    .replace(/=\\r?\\n/g, '')                                    // soft line breaks\n    .replace(/=([0-9A-Fa-f]{2})/g, (_, h) =>\n      String.fromCharCode(parseInt(h, 16)));                   // =C3=A9 → é\n}\n\n// 2. Supprimer les balises HTML\nfunction stripHtml(s) {\n  return s.replace(/<[^>]+>/g, ' ').replace(/&nbsp;/gi, ' ').replace(/\\s+/g, ' ');\n}\n\nconst text = stripHtml(decodeQP(rawHtml));\n\n// 3. Détecter Confirmé vs Annulé\nconst isAnnule = /annul/i.test(subject);\nconst statut   = isAnnule ? 'Annulé' : 'Confirmé';\n\n// 4. Vérifier que c'est bien un email de RDV Planity\nconst isRdvPlanity = /noreply@planity\\.com/i.test(email.from || '')\n                  || /planity/i.test(subject);\nif (!isRdvPlanity) {\n  return [{ json: { _skip: true, raison: 'Email non Planity', subject } }];\n}\n\n// 5. Parser date + heures\n// Modèle : \"Date et heure du RDV : jeudi 26 février 2026 de 17:00 à 18:00\"\nconst MOIS = {\n  janvier:1, février:2, fevrier:2, mars:3, avril:4, mai:5, juin:6,\n  juillet:7, août:8, aout:8, septembre:9, octobre:10, novembre:11, décembre:12, decembre:12\n};\nconst rDate = /Date et heure du RDV\\s*:\\s*\\w+\\s+(\\d{1,2})\\s+(\\w+)\\s+(\\d{4})\\s+de\\s+(\\d{2}:\\d{2})\\s+[àa]\\s+(\\d{2}:\\d{2})/i;\nconst mDate = text.match(rDate);\n\nlet date_iso = '', heure_debut = '', heure_fin = '';\nif (mDate) {\n  const [, jour, mois, annee, h1, h2] = mDate;\n  const m = String(MOIS[mois.toLowerCase()] || 1).padStart(2, '0');\n  const j = String(parseInt(jour)).padStart(2, '0');\n  date_iso    = `${annee}-${m}-${j}`;\n  heure_debut = h1;\n  heure_fin   = h2;\n}\n\n// 6. Parser les champs client\nconst mNom    = text.match(/Nom\\s*:\\s*([^\\s]+)/i);\nconst mPrenom = text.match(/Pr[eé]nom\\s*:\\s*([^\\s]+)/i);\nconst mEmail  = text.match(/Courriel\\s*:\\s*([\\w.+%-]+@[\\w.-]+)/i);\nconst mTel    = text.match(/T[eé]l\\.?\\s*:\\s*([\\d\\s]{6,14})/i);\n\nconst client_nom    = mNom    ? mNom[1].trim()    : '';\nconst client_prenom = mPrenom ? mPrenom[1].trim() : '';\nconst client_tel    = mTel    ? mTel[1].trim()    : '';\nconst client_email  = mEmail  ? mEmail[1].trim()  : '';\nconst client        = `${client_prenom} ${client_nom}`.trim();\n\n// 7. Parser prestation + collaboratrice + salle\n// Modèle : \"- Microneedling RF – Soin Anti-Relâchement Visage de 17:00 à 18:00 (1h) avec Caroline, Salle 3\"\nconst rPrest = /-\\s+(.+?)\\s+de\\s+\\d{2}:\\d{2}\\s+[àa]\\s+\\d{2}:\\d{2}\\s+\\([\\dh]+\\)\\s+avec\\s+([^,]+),\\s+(.+?)(?:\\s*$|\\s+Cordialement)/i;\nconst mPrest = text.match(rPrest);\n\nconst prestation    = mPrest ? mPrest[1].trim() : '';\nconst collaboratrice= mPrest ? mPrest[2].trim() : '';\nconst salle         = mPrest ? mPrest[3].trim() : '';\n\n// Titre de la page Notion : \"prénom nom – prestation (date)\"\nconst titre = `${client} – ${prestation || 'RDV'} (${date_iso})`;\n\nreturn [{ json: {\n  _skip: false,\n  titre,\n  date_iso,\n  heure_debut,\n  heure_fin,\n  client,\n  client_nom,\n  client_prenom,\n  client_email,\n  client_tel,\n  prestation,\n  collaboratrice,\n  salle,\n  statut,\n  subject\n}}];\n"
      },
      "id": "node-code-parse-002",
      "name": "Parser l'email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-003",
      "name": "Email RDV valide ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "TARIFS_DATABASE_ID",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Prestation|title",
              "condition": "equals",
              "titleValue": "={{ $json.prestation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-notion-lookup-004",
      "name": "Notion – Chercher prestation dans Tarifs",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [920, 220],
      "credentials": {
        "notionApi": { "id": "NOTION_CRED_ID", "name": "Notion Centre Esthétique" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupérer le prix depuis la base Tarifs\n// Si prestation non trouvée → prix = null (sera à remplir manuellement)\nconst rdv   = $('Parser l\\'email').first().json;\nconst items = $input.all();\n\nlet prix          = null;\nlet tarif_page_id = null;\n\nif (items.length > 0 && items[0].json) {\n  const props = items[0].json.properties || {};\n  // Champ Prix (number)\n  if (props['Prix (€)'] && props['Prix (€)'].number !== null) {\n    prix = props['Prix (€)'].number;\n  }\n  tarif_page_id = items[0].json.id || null;\n}\n\nreturn [{ json: { ...rdv, prix, tarif_page_id } }];\n"
      },
      "id": "node-code-prix-005",
      "name": "Extraire prix du tarif",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 220]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "PLANNING_DATABASE_ID",
          "mode": "id"
        },
        "title": "={{ $json.titre }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date|date",
              "dateValue": "={{ $json.date_iso }}"
            },
            {
              "key": "Heure début|rich_text",
              "textContent": "={{ $json.heure_debut }}"
            },
            {
              "key": "Heure fin|rich_text",
              "textContent": "={{ $json.heure_fin }}"
            },
            {
              "key": "Client|rich_text",
              "textContent": "={{ $json.client }}"
            },
            {
              "key": "Téléphone|phone_number",
              "phoneValue": "={{ $json.client_tel }}"
            },
            {
              "key": "Email client|email",
              "emailValue": "={{ $json.client_email }}"
            },
            {
              "key": "Prestation|rich_text",
              "textContent": "={{ $json.prestation }}"
            },
            {
              "key": "Prix (€)|number",
              "numberValue": "={{ $json.prix }}"
            },
            {
              "key": "Collaboratrice|select",
              "selectValue": "={{ $json.collaboratrice }}"
            },
            {
              "key": "Salle|select",
              "selectValue": "={{ $json.salle }}"
            },
            {
              "key": "Statut|select",
              "selectValue": "={{ $json.statut }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-notion-create-006",
      "name": "Notion – Créer RDV dans Planning",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1360, 220],
      "credentials": {
        "notionApi": { "id": "NOTION_CRED_ID", "name": "Notion Centre Esthétique" }
      }
    },
    {
      "parameters": {
        "messageId": "={{ $('Gmail – Nouveaux emails Planity').item.json.id }}",
        "options": {
          "markAsRead": true
        }
      },
      "id": "node-gmail-read-007",
      "name": "Gmail – Marquer comme lu",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1580, 220],
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CRED_ID", "name": "Gmail claser.hcm" }
      }
    }
  ],
  "connections": {
    "Gmail – Nouveaux emails Planity": {
      "main": [[{ "node": "Parser l'email", "type": "main", "index": 0 }]]
    },
    "Parser l'email": {
      "main": [[{ "node": "Email RDV valide ?", "type": "main", "index": 0 }]]
    },
    "Email RDV valide ?": {
      "main": [
        [{ "node": "Notion – Chercher prestation dans Tarifs", "type": "main", "index": 0 }],
        []
      ]
    },
    "Notion – Chercher prestation dans Tarifs": {
      "main": [[{ "node": "Extraire prix du tarif", "type": "main", "index": 0 }]]
    },
    "Extraire prix du tarif": {
      "main": [[{ "node": "Notion – Créer RDV dans Planning", "type": "main", "index": 0 }]]
    },
    "Notion – Créer RDV dans Planning": {
      "main": [[{ "node": "Gmail – Marquer comme lu", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["planity", "notion", "gmail"]
}
